.about-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh

    background: rgb(230,242,32)
    background: -moz-linear-gradient(45deg, rgba(230,242,32,1) 0%, rgba(31,255,0,1) 100%)
    background: -webkit-linear-gradient(45deg, rgba(230,242,32,1) 0%, rgba(31,255,0,1) 100%)
    background: linear-gradient(45deg, rgba(230,242,32,1) 0%, rgba(31,255,0,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6f220",endColorstr="#1fff00",GradientType=1)
