
.portfolio-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh

    background: rgb(45,32,242)
    background: -moz-linear-gradient(45deg, rgba(45,32,242,1) 0%, rgba(0,255,89,1) 100%)
    background: -webkit-linear-gradient(45deg, rgba(45,32,242,1) 0%, rgba(0,255,89,1) 100%)
    background: linear-gradient(45deg, rgba(45,32,242,1) 0%, rgba(0,255,89,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d20f2",endColorstr="#00ff59",GradientType=1)
