* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;

}

.wrapper{
  background: #22c1c3;
  background: linear-gradient(45deg, #22c1c3 0%, #2dfd33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#2dfd33",GradientType=1);
}